<!-- Searchbar -->
  <div class="row search-row homesearch">
      <div>
        <form action="" method="get">
          <div class="product-search">
            <div class="search-element">
              <label class="search-label">Location</label>
              <input class="search-input" type="text" placeholder="Where ?" class="" autocomplete="on" name="location">
            </div>
            <div class="search-element">
              <label class="search-label">Environment</label>
              <input class="search-input" type="text" autocomplete="on" placeholder="Office types" name="query">
            </div>
            <div class="search-element">
              <label class="search-label">Dates</label>
              <input class="search-input" type="dates" autocomplete="on" placeholder="Add dates" name="dates">
            </div>
            <div class="search-element">
              <label class="search-label">Nb of desks</label>
              <input class="search-input" type="number" autocomplete="on" placeholder="Add Number" name="number">
            </div>
            <a type="submit" class="search-button">Search</a>
          </div>
        </form>
      </div>
    </div>
  <!-- End of searchbar -->

<!-- CODE TEST POSITION MAP-->

<!-- Map with Snazzymaps -->
<div class="container">
  <div class="div-block-149">
    <div class="html-embed-3 w-embed w-iframe">
      <iframe src="https://snazzymaps.com/embed/238471" width="100%" height="400px" style="border:none;">
      </iframe>
    </div>
  </div>
</div>
<!-- End of the map -->

  <div class="row no-gutters">
  <div class="col-sm-6 col-md-8">
    <div class="row">
      <div class="p-5 d-flex justify-content-around">
      <h2>Work Spaces</h2>
      </div>
    </div>

    <% @offices.each do |office| %>
    <%= link_to office_path(office) do%>
    <div class="clash-card barbarian my-5 mx-5">
          <div class="clash-card__image clash-card__image--barbarian">
            <img src="https://cdn.glitch.com/c13537fc-8924-4dee-b876-b562eed68eae%2Fpikachu-removebg-preview.png?v=1605611430597" height="252px" width="247px" alt="pikachu" />
            </div>
            <div class="clash-card__unit-name"><%= link_to office.name, office_path(office) %></div>
            <div class="clash-card__unit-description"> <%= office.description %> </div>
            <div class="clash-card__unit-stats clash-card__unit-stats--barbarian">
              <div class="one-third no-border">
                <div class="stat"><%= office.price %>€/d</div>
              </div>
            </div>
        </div>
      <% end %>
      <% end %>

     </div>
      <div class="col-6 col-md-4">
       <div id="map" data-markers="<%= @markers.to_json %>"  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" >
       </div>
      </div>
    </div>

</div>

<!-- CODE TEST POSITION MAP FIN-->
  
